.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.page-wrapper{
  background-color: #eff4f5;
}

/* https://getbootstrap.com  header style concept */
.bd-navbar {
    min-height: 4rem;
    background-color: #04a4cf;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.logo {
  color: #fff;
  font-family: fantasy;
  font-weight: bold;
}
